* {
    border: none;
    font-family: Iosevka;
    font-size: 17px;
    font-weight: 500;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(10, 12, 12, 0.80);
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    padding: 2px 12px;
    border-radius: 10px;
    margin: 4px 2px;
    background-color: #202828;
}

#workspaces button:hover {
    color: #202828;
    background-color: #778877;
}

#workspaces button.active {
    color: #202828;
    background-color: #ccddcc;
}

#workspaces button.urgent {
    color: #202828;
    background-color: #f38ba8;
}

#battery,
#backlight,
#clock,
#pulseaudio,
#pulseaudio#microphone,
#custom-logo,
#custom-power,
#custom-music-player,
#tray,
#window,

#custom-music-player {
    padding: 2px 12px;
    border-radius: 10px;
    margin: 4px 2px;
    background-color: #202828;
}

#custom-music-player.playing {
    color: #ccddcc;
}

#custom-music-player.stopped {
    color: transparent;
    background-color: transparent;
}

#custom-sep {
    padding: 0px;
    color: #778877;
}

#clock {
    color: #ccddcc;
}

#clock.simpleclock {
    color: #ccddcc;
}

#window {
    color: #ccddcc;
}

#pulseaudio {
    color: #ccddcc;
}

#pulseaudio#microphone {
    color: #ccddcc;
}

#pulseaudio.muted {
    color: #778877;
}

#custom-logo {
    color: #ccddcc;
}

#custom-power {
    color: #f38ba8;
    padding-right: 5px;
    font-size: 14px;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #202828;
    }
}

tooltip {
    border-radius: 8px;
}

#tray menu {
    background: #202828;
    color: #ccddcc;
}
