@define-color fg #ebdbb2;
@define-color bg #1d2021;

@define-color black #282828;
@define-color red #cc241d;
@define-color green #aedf3c;
@define-color yellow #eafd2f;
@define-color blue #83c598;
@define-color purple #d3869b;
@define-color aqua #8edf48;
@define-color orange #fe8019;

window {
  background-color: rgba(40, 40, 40, 0.5);
  font-family: TerminessTTF Nerd Font;
  font-size: 80px;
}

grid {
  border-radius: 30px;
  margin: 80px 100px;
  padding: 10px;
  background-color: @bg;
}

button {
  border-radius: 20px;
  border-width: 3px;
  border-color: @black;
  outline-style: none;
  margin: 10px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: center;
  background-color: @black;
}

button:focus,
button:active,
button:hover {
  border-color: @color;
}

#poweroff {
  color: @red;
}

#lock {
  color: @green;
}

#reboot {
  color: @orange;
}

#suspend {
  color: @aqua;
}

#logout {
  color: @yellow;
}

#hibernate {
  color: @blue;
}

