* {
    min-height: 0;
    font-family: IosevkaEtoile;
    font-size: 14px;
    font-weight: 500;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(7, 8, 8, 0.8);
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 10px;
    min-height: 0;
    margin: 4px 4px;
    border-radius: 8px;
    background-color: #172020;
    color: #ccddcc;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #172020;
    background-color: #778877;
}

#workspaces button.active {
    color: #172020;
    background-color: #ccddcc;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#battery,
#backlight,
#clock,
#pulseaudio,
#pulseaudio#microphone,
#custom-logo,
#custom-power,
#cpu,
#tray,
#memory,
#window,

#custom-gpu {
    min-height: 0;
    padding: 2px 10px;
    border-radius: 8px;
    margin: 4px 4px;
    background-color: #172020;
}

#custom-sep {
    padding: 0px;
    color: #778877;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
    color: #ccddcc;
    margin-left: 0;
    margin-right: 0;
}

#custom-gpu {
    color: #ccddcc;
    margin-left: 0;
    margin-right: 0;
}

#memory {
    margin-left: 0;
    color: #ccddcc;
}

#battery {
    color: #ccddcc;
}

#backlight {
    color: #ccddcc;
}

#clock {
    color: #ccddcc;
}

#clock.simpleclock {
    color: #ccddcc;
}

#window {
    color: #ccddcc;
}

#pulseaudio {
    color: #ccddcc;
}

#pulseaudio#microphone {
    color: #ccddcc;
}

#pulseaudio.muted {
    color: #778877;
}

#custom-power {
    color: #f38ba8;
    padding-right: 5px;
    font-size: 14px;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #172020;
    }
}

tooltip {
    border-radius: 8px;
}

#tray menu {
    background: rgb(24, 24, 37);
    color: white;
}
