@define-color fg #ebdbb2;
@define-color bg #1d2021;

@define-color black #282828;
@define-color red #ff553f;
@define-color orange #ff6800;
@define-color yellow #efb700;
@define-color green #9ed300;
@define-color aqua #00ee5e;
@define-color blue #00f1c5;
@define-color purple #c18fff;

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

grid {
    border-radius: 30px;
    margin: 40px 80px;
    padding: 10px;
    background-color: @bg;
}

button {
    border-radius: 20px;
    border-width: 3px;
    border-color: @black;
    outline-style: none;
    margin: 10px;
    background-color: @black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
    border-color: @color;
}

#shutdown {
    color: @red;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    color: @orange;
    background-image: image(url("icons/reboot.png"));
}

#logout {
    color: @yellow;
    background-image: image(url("icons/logout.png"));
}

#lock {
    color: @green;
    background-image: image(url("icons/lock.png"));
}

#suspend {
    color: @aqua;
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    color: @blue;
    background-image: image(url("icons/hibernate.png"));
}
